.login-container
    md-tabs
        md-tab(label="登录")
            md-content.md-padding
                form(name="loginForm", ng-submit="login()")
                    md-input-container.md-icon-float.md-block
                        md-icon.name(md-svg-src="./assets/images/user.svg")
                        input(ng-model="user.name", type="text", placeholder="用户名", ng-required="true")

                    md-input-container.md-icon-float.md-block
                        md-icon.name(md-svg-src="./assets/images/password.svg")
                        input(ng-model="user.password", type="password", placeholder="密码", ng-required="true")

                    md-button.login-btn(type="submit") 登录

                div.md-block.oauth-btns
                    md-button(ng-disabled="true") 快速登录

                    md-button.md-icon-button(aria-label="qqLogin", ng-click="qqLogin()")
                        md-icon(md-svg-src="./assets/images/login-qq.svg")

                    md-button.md-icon-button(aria-label="githubLogin", ng-click="githubLogin()")
                        md-icon(md-svg-src="./assets/images/login-github.svg")

        md-tab(label="注册")
            md-content.md-padding
                form(name="registerForm", ng-submit="register()")
                    div.upload-area
                        input(type="file", name="file", accept="image/*", onchange="angular.element(this).scope().fileNameChanged(this.files)")

                    md-input-container.md-icon-float.md-block
                        md-icon.name(md-svg-src="./assets/images/user.svg")
                        input(ng-model="registerForm.name", type="text", placeholder="用户名", ng-required="true")

                    md-input-container.md-icon-float.md-block
                        md-icon.name(md-svg-src="./assets/images/email.svg")
                        input(ng-model="registerForm.email", type="email", placeholder="邮箱", ng-required="true")

                    md-input-container.md-icon-float.md-block
                        md-icon.name(md-svg-src="./assets/images/password.svg")
                        input(ng-model="registerForm.password", type="password", placeholder="密码", ng-required="true")

                    md-button.login-btn(type="submit") 注册